body{
    background-image: linear-gradient(to right, rgb(54, 124, 255), rgb(18, 221, 221));
}

.card-body{
    margin: 10px;
}
.fa-ul{
    margin-top: 20px;
}
.card-price .text-center .period{
    margin-top: 20px;

}
.col-lg-4{
    margin-top: 20px;
}